//font imports
@font-face {
    font-family: 'Decoy Medium';
    src: url(../fonts/fonnts.com-Decoy-Medium.otf);
}

//font size variables
$h1-font: 64px;
$h2-font: 40px;
$h3-font: 33px;
$h4-font: 28px;
$h5-font: 22px;
$h6-font: 22px;
$p-font: 16px;