@use "../global/" as *;

footer {
    position: relative;
    height: 550px;
    background: url(../images/footerBackground.jpg) no-repeat center;
    background-size: cover;
    color: $blue;

    h4 {
        font-family: 'Decoy Medium';
        font-size: $h4-font;
        font-weight: 100;
        padding-bottom: 16px;
    }

    p, ul {
        font-family: 'Proxima Soft Bold';
        font-size: $p-font;
        line-height: 26px;
    }

    ul {
        list-style: none;
    }

    .logo-section p {
        font-family: 'Decoy Italic';
        font-size: 20px;
        padding-top: 20px;
    }
    
    a:link { text-decoration: none; color: $blue; }
    a:visited { text-decoration: none; color: $blue; }
    a:hover { text-decoration: none; color: $orange; transition: color 0.3s ease; }
    a:active { text-decoration: none; color: $orange; transition: color 0.3s ease; }
}

.footer-main-container {
    display: flex;
    justify-content: space-between;
    width: 1225px;
    margin: 0 auto;
    padding-top: 80px;
}

.footer-logo {
    border: 5px solid $blue;
    border-radius: 47px;
}

.contact-links-section {
    img {
        padding: 22px 0;
    }

    img:nth-child(1) {
        padding-right: 15px;
    }
}

.get-app-section {
    display: flex;
    flex-direction: column;
}

.app-store {
    padding-top: 10px;
}

.footer-bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    width: 1225px;
    margin: 0 auto;
    padding-top: 80px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    padding-bottom: 22px;
}

.copyright-text {
    font-size: 16px;
}

.alternate-font {
    font-family: 'Arial';
    font-weight: bold;
}