@use "../global/" as *;

footer {
    position: relative;
    background: url(../images/footerBackground.jpg) no-repeat center;
    background-size: cover;
    color: $blue;
    padding-bottom: 36px;

    h4 {
        font-family: 'Decoy Medium';
        font-size: $h4-font;
        font-weight: 100;
        padding-bottom: 16px;
    }

    p, ul {
        font-family: 'Proxima Soft Bold';
        font-size: $p-font;
        line-height: 26px;
    }

    ul {
        list-style: none;
    }

    .logo-section p {
        font-family: 'Decoy Italic';
        font-size: 20px;
        padding-top: 20px;
    }
    
    a:link { text-decoration: none; color: $blue; }
    a:visited { text-decoration: none; color: $blue; }
    a:hover { text-decoration: none; color: $orange; transition: color 0.3s ease; }
    a:active { text-decoration: none; color: $orange; transition: color 0.3s ease; }
}

.footer-main-container {
    max-width: 1225px;
    margin: 0 auto;
    padding: 10px 25px 0 25px;

    @media(max-width: 1180px) {
        padding-top: 40px;
        max-width: 750px;
    }

    @media(max-width: 720px) {
        padding-top: 60px;
        max-width: 210px;
    }
}

.footer-top-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 80px;

    @media(max-width: 1180px) {
        grid-template-columns: repeat(3, auto);
        row-gap: 100px;
    }

    @media(max-width: 720px) {
        grid-template-columns: repeat(1, auto);
        row-gap: 75px;
    }
}

.footer-logo {
    border: 5px solid $blue;
    border-radius: 47px;
}

.contact-links-section {
    img {
        padding: 10px 0;
    }

    img:nth-child(1) {
        padding-right: 15px;
    }
}

.get-app-section {
    display: flex;
    flex-direction: column;
}

.app-store {
    padding-top: 10px;
}

.footer-bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    margin: 0 auto;
    padding-top: 80px;

    @media(max-width: 1180px) {
        padding-top: 120px;
    }
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    padding-bottom: 22px;
}

.copyright-text {
    font-size: 16px;
}

.alternate-font {
    font-family: 'Arial';
    font-weight: bold;
}