@use "../global" as *;

:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: $blue;
    --background: $yellow;
    --hamburger-margin: 25px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

nav {
    height: 90px;
    background-color: $yellow;
    font-family: 'Decoy Medium';
    font-size: $h5-font;
    color: $blue;

    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1220px;
        height: 100%;
        margin: 0 auto;
        padding: 0 40px;

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 384px;
            padding-bottom: 6px;

            a:link { text-decoration: none; color: $blue; }
            a:visited { text-decoration: none; color: $blue; }
            a:hover { text-decoration: none; color: $orange; transition: color 0.3s ease; }
            a:active { text-decoration: none; color: $orange; transition: color 0.3s ease; }
        }
    }

    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);

        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: 60px;
        position: absolute;
        top: var(--hamburger-margin);
        right: calc(var(--hamburger-margin) * 2);
        z-index: 2;
        cursor: pointer;
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), 
                    width var(--animation-timing);
    }

    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        //translate: 0 -4;
    }

    .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        //translate: 0 4;
    }

    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }
}

.hidden {
    //display: none;
}

