@use "../global" as *;

nav {
    height: 90px;
    background-color: $yellow;
    font-family: 'Decoy Medium';
    font-size: $h5-font;
    color: $blue;

    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1290px;
        height: 100%;
        margin: 0 auto;
        padding: 0 40px;

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 384px;
            padding-bottom: 6px;

            a:link { text-decoration: none; color: $blue; }
            a:visited { text-decoration: none; color: $blue; }
            a:hover { text-decoration: none; color: $orange; transition: color 0.3s ease; }
            a:active { text-decoration: none; color: $orange; transition: color 0.3s ease; }
        }
    }
}

